<!DOCTYPE html>
<html>
  <head>
    <title>OpenClaw Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag 'inertia', data: { "turbo-track": "reload" } %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
